{% extends 'base.html.twig' %}

{% block page_title %}settings{% endblock %}

{% block body_stimulus_controller %}{{ stimulus_controller('settings') }}{% endblock %}

{% block body_classes %}bg-stone-800{% endblock %}

{% block body %}
    {% include 'client/partials/user/settings/header.html.twig' %}

    <div class="mt-[70px] xl:mt-[72px] px-2 space-y-2">
        <div class="max-w-3xl mx-auto bg-stone-50 p-2 border-rounded text-stone-800 space-y-2">
            <h2 class="text-2xl font-bold">Your API key</h2>
            <p class="text-stone-600">This key allows you to authenticate when using the filesnap API</p>
            <div class="flex flex-wrap gap-2">
                <div class="h-10 border border-stone-300 border-rounded flex items-center">
                    <span {{ stimulus_target('settings', 'apiKey') }} class="px-2.5 pt-0.5 api-key">
                        {{ app.user.authorizationKey.toBase58 }}
                    </span>
                </div>
                <div class="flex flex-wrap gap-2">
                    <button {{ stimulus_action('settings', 'copyApiKey', 'click') }} class="flex-grow sm:flex-grow-0 button py-1 px-3 bg-blue-300 select-none space-x-2">
                        <i class="text-stone-800 flex fi fi-br-copy"></i>
                        <span>Copy your key</span>
                    </button>
                    <button {{ stimulus_action('settings', 'resetApiKey', 'click') }} class="flex-grow sm:flex-grow-0 button py-1 px-3 bg-red-400 select-none space-x-2">
                        <i class="text-stone-800 flex fi fi-br-refresh"></i>
                        <span>Reset your key</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="max-w-3xl mx-auto bg-stone-50 p-2 border-rounded text-stone-800 space-y-2">
            <h2 class="text-2xl font-bold">Configurations</h2>
            <p class="text-stone-600">Download the configuration file for the software you use</p>
            <div class="flex flex-wrap gap-2">
                <a href="{{ path('client_user_configuration_file', {'software': 'sharex'}) }}" class="flex-grow sm:flex-grow-0 button py-1 px-3 bg-blue-300 select-none space-x-2">
                    <img src="{{ asset('sharex_logo.svg') }}" class="h-6" alt="Sharex software logo">
                    <span>Sharex</span>
                </a>
            </div>
        </div>
        <div class="max-w-3xl mx-auto bg-stone-50 p-2 border-rounded text-stone-800">
            <h2 class="text-2xl font-bold">Account</h2>

            {{ form_start(updateEmailForm, {'attr': {'class': 'flex'}}) }}
            <div class="input-group flex-1">
                {{ form_errors(updateEmailForm.email) }}
                {{ form_label(updateEmailForm.email) }}
                <div class="flex space-x-2">
                    {{ form_widget(updateEmailForm.email, {'attr': {'class': 'flex-1'}}) }}
                    <button class="flex-grow sm:flex-grow-0 button py-1 px-3 bg-blue-300 select-none space-x-2">Update email</button>
                </div>

            </div>
            {{ form_rest(updateEmailForm) }}

            {{ form_end(updateEmailForm) }}
        </div>
        <div class="max-w-3xl mx-auto bg-stone-50 p-2 border-rounded text-stone-800">
            <h2 class="text-2xl font-bold">Password</h2>

            {{ form_start(updatePasswordForm, {'attr': {'class': 'flex space-x-2'}}) }}
            <div class="input-group flex-1">
                {{ form_errors(updatePasswordForm.currentPassword) }}
                {{ form_label(updatePasswordForm.currentPassword) }}
                <div class="flex space-x-2">
                    {{ form_widget(updatePasswordForm.currentPassword, {'attr': {'class': 'flex-1'}}) }}
                </div>
            </div>

            <div class="input-group flex-1">
                {{ form_errors(updatePasswordForm.newPassword) }}
                {{ form_label(updatePasswordForm.newPassword) }}
                <div class="flex space-x-2">
                    {{ form_widget(updatePasswordForm.newPassword, {'attr': {'class': 'flex-1'}}) }}
                </div>
            </div>

            <div class="input-group justify-end">
                <button class="flex-grow sm:flex-grow-0 button py-1 px-3 bg-blue-300 select-none space-x-2">Update password</button>
            </div>

            {{ form_rest(updatePasswordForm) }}
            {{ form_end(updatePasswordForm) }}
        </div>
    </div>
{% endblock %}
